.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.wrapper {
  display: flex;
  height: 100vh;
}
.home-banner {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.logo-block-mobile .logo {
  max-width: 100px;
  padding: 32px;
}
.info-block {
  order: 2;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-block {
  width: 100%;
  min-height: 30%;
  background: url(images/hero-mobile.jpg) no-repeat center;
  background-size: cover;
}
.logo-desktop {
  display: none;
}
.description {
  max-width: 450px;
  color: hsl(0, 36%, 70%);
  line-height: 1.5;
}
.title {
  color: hsl(0, 6%, 24%);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 14px;
  line-height: 1;
  max-width: 350px;
  margin: 50px auto;
  span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    display: block;
  }
}
.input-form {
  margin: 50px auto 0 auto;
  position: relative;

  input {
    padding: 15px;
    border-radius: 80px;
    border: 1px solid hsl(0, 93%, 68%);    
    outline: 0;
  }
  .arrow {
    position: absolute;
    top: 0;
    right: -35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 47px;
    border: 1px solid transparent;
    border-radius: 100px;    
    background: linear-gradient( 135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100% );
    cursor: pointer;   
  }

  .arrow:hover,
  .arrow:focus,
  .arrow:active {
    box-shadow: 13px 14px 93px -25px rgba(0,0,0,0.75);
    transition: all 200ms ease-in;
    background: linear-gradient( 135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100% );
  }
}
.error-message {
    display: none;
    color: red;
    margin-left: 10px;
}
@media screen and (min-width: 600px) {
  .logo-block-mobile {
    display: none;
  }
  .logo-desktop {
    max-width: 150px;
    display: block;
    margin-bottom: 100px;
  }
  .home-banner {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
  }
  .info-block {
    width: 60%;
    margin: 50px;
    margin-left: 150px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  .image-block {
    width: 40%;
    min-height: 100vh;
    background: url(images/hero-desktop.jpg) no-repeat center;
    background-size: cover;
    order: unset;
  }
  .title {
    margin-left: unset;
    margin-right: unset;
    font-size: 64px;
  }
  .input-form {
    margin: unset;
    margin-top: 50px;
    input {
        width: 300px;
    }
  }
}
